<section class="u-py-100 u-h-100vh u-flex-center main-bg-back-4" style="background-color:#F6F9FC">
   <div class="container">
      <div class="row">
         <div class="col-lg-8 mx-auto">
            <h1 class="text-center display-4 u-fw-600 hero-text">Eat churros, be happy.</h1>
            <p class="text-center u-fs-22 u-lh-1_7 u-pb-20 text-white">Homemade churros made to excite your taste buds.</p>
            <div class="col-12 text-center">
            <button type="submit" class="btn btn-pink ">
               <%= link_to 'Order Now', root_path %>        
            </button>
            </div>
         </div>
      </div>
   </div>
</section>


