.white-bg { background: #ffffff; }
.gray-bg { background: #F6F8F9; }
.gray-new-bg { background: #f2f2f2; }
.dark-gray-bg { background: #908f94; }
.red-bg { background: #C00000; }


.custom-block-1 { padding: 82px; }
.custom-block-1 h2 { font-size: 90px; font-weight: bold; line-height: 90px; }
.custom-block-1 span { font-size: 20px; font-style: italic; display: block; color: #999999; font-weight: 600; display: block; margin: 15px 0px; }
.custom-block-1 strong { font-size: 40px; font-weight: 700; margin: 15px 0px; display: block; }
.custom-block-1 p { font-size: 18px; font-weight: 600; display: block; text-transform: uppercase; }
.custom-block-1 a { text-transform: uppercase; font-size: 15px; font-weight: 600; color: #C00000; }
.custom-block-1 a:hover { color: #323232; }

